extends layout

block right_side
    #right-side.no-animation
        div#requested-query.gab.px40 Search Query: '<span id="search-queried">#{query}</span>' (#{results.length} hits)
        ul#search-results.search-items
            - each entity in results
                - var entity_type = entity[1] === 'a' ? 'article' : 'category'
                li
                    a(href="/#{entity_type}/#{entity[0]}")
                        div(class="icon-#{entity_type}")
                        div #{entity[2]}

    script.
        document.getElementById('query').value = document.getElementById('search-queried').innerText;
